<?xml version="1.0"?>
<!--
/**
 * Copyright © 2024 BCMarketplace. All rights reserved.
 * See COPYING.txt for license details.
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="segment" frontName="segment">
            <module name="BCMarketplace_SegmentAccessControl" before="Magento_Backend" />
        </route>
    </router>
</config>
